.idea/
.nyc_output/

.editorconfig
gulpfile.js
tsconfig.json
tslint.json
typings.json
typings

.github/
*.log
*.tgz
*.yml
*.iml
*.opts
*.sh

# directories
node_modules/
coverage/
helpers/
test/
doc/
dist/
src/
demo/

# others
index.html
CHANGELOG.md
