.idea/
.nyc_output/

.editorconfig
gulpfile.js
tsconfig.json
tslint.json
typings.json
typings

*.log
*.tgz
*.yml
*.iml

# directories
node_modules/
coverage/
test/
doc/
dist/
src/
examples/

# others
index.html
CHANGELOG.md
