# IDEA
.idea
*.iml

# Logs
logs
*.log
npm-debug.log*
package-lock.json
.rpt2_cache

# Coverage directory used by tools like istanbul
coverage

# nyc test coverage
.nyc_output

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# Custom for npm
.github/
demo/
src/
*.log
*.tgz
*.yml
*.iml
*.opts
*.sh

# project files
index.ts
rollup.config.js
tsconfig.json
tslint.json
.editorconfig
